<div class="rs-container">
  <div class="waldo-launch-container rs-panel">
    <div class="waldo-launch-sidebar">
      <header class="waldo-launch-header">
        <div class="waldo-launch-input waldo-launch-search-bar">
          <input type="text" ng-model="search" placeholder="Search Application Catalog..">
        </div> <!-- /.waldo-launch-input.waldo-launch-search-bar -->
      </header> <!-- /.waldo-launch-header -->

      <div class="waldo-launch-list-container">
        <section class="waldo-launch-list-section"
                 ng-repeat="(type,types) in catalog.data">
          <h4>{{type}}</h4>
          <div class="waldo-launch-list">
            <div class="waldo-launch-list-item"
                 ng-repeat="(app,config) in types"
                 x-lvl-draggable="tre"
                 ng-if="config.id.indexOf(search) > -1 || !search"
                 ng-mousedown="select(config)"
                 ng-click="viewDetails()">
                <div class="waldo-list-item-icon">
                </div> <!-- /.waldo-list-item-icon -->
                <div class="waldo-list-item-title">
                  {{app}}
                </div> <!-- /.waldo-list-item-title -->
            </div> <!-- /.waldo-launch-list-item -->
          </div> <!-- /.waldo-launch-list-item -->
        </section> <!-- /.waldo-launch-list-section -->

      </div> <!-- /.waldo-launch-list-container -->
    </div> <!-- /.waldo-launch-sidebar -->

    <div class="waldo-launch-topology"
         x-lvl-drop-target="true"
         x-on-drop="add()">

      <blueprint-topology></blueprint-topology>
      <blueprint-codemirror ng-show="blueprint.services" 
                            class="waldo-launch-sidebar align-right">
      </blueprint-codemirror>

      <div class="rs-table-overlay waldo-launch-empty-canvas" ng-hide="blueprint.services">
        <div class="rs-table-overlay-content">
          <div class="rs-table-overlay-title">You don't have any applications yet.</div>
          <div class="rs-table-overlay-subtitle">Add one now.</div>
          <div class="rs-table-overlay-message">Drag an application here. We'll draw an application topology, just for you.</div>
        </div>
      </div>

      <div class="waldo-launch-controls">
        <div class="rs-btn-group rs-pull-right">
          <button class="rs-btn rs-btn-primary">Finalize Configuration</button>
          <button class="rs-btn rs-btn-link">Reset</button>
        </div>
        <div class="rs-btn-group">
          <button class="rs-btn rs-btn-secondary">Import</button>
          <button class="rs-btn rs-btn-secondary">Export</button>
        </div>
      </div> <!-- /.waldo-launch-controls -->
    </div>

  </div> <!-- /.waldo-launch-container -->
</div> <!-- /.rs-container -->